doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')
  body
    include navbar.pug
    section.contact-hero
      h1 Get in Touch with Us!
      p We’d love to hear from you! Feel free to reach out to us via the form below or contact us directly.
    section.contact-info
      h2 Contact Information
      p
        strong Email:
        | contact@ourcompany.com
      p
        strong Phone:
        | +123-456-7890
      p
        strong Address:
        | 1234 Business Ave, Suite 101, City, Country
    section.contact-form
      h2 Send Us a Message
      form(action='/submit' method='POST')
        label(for='name') Name:
        input(type='text' id='name' name='name' required)
        label(for='email') Email:
        input(type='email' id='email' name='email' required)
        label(for='message') Message:
        textarea(id='message' name='message' rows='4' required)
        button(type='submit') Send Message


    include footer.pug
