footer.footer
  .footer-content
    .footer-section
      h3 About Us
      p We are dedicated to providing top-quality services and ensuring customer satisfaction. Our team works tirelessly to innovate and meet your needs.
    .footer-section
      h3 Quick Links
      ul
        li: a(href='/') Home
        li: a(href='/services') Our Services
        li: a(href='/contact') Contact Us
    .footer-section
      h3 Follow Us
      ul.social-links
        li: a(href='https://facebook.com', target='_blank') Facebook
        li: a(href='https://twitter.com', target='_blank') Twitter
        li: a(href='https://linkedin.com', target='_blank') LinkedIn
  .footer-bottom
    p &copy; #{new Date().getFullYear()} Our Company. All Rights Reserved.
